body {
    background: #eee;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 3rem;
    margin-top: 0;
}

.tries {
    color: cadetblue;
}

.red {
    color: crimson;
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
    transition: all 0.2s ease-out;
}

.green {
    color: lightgreen;
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
    transition: all 0.2s ease-out;
}

#game-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 750px;
    background: #fff;
    border: 1px solid rgba(0,0,0,0.2);
}

.card {
    background: url('../img/q-mark.png') no-repeat center;
    background-size: 80%;
    margin: 1rem;
    perspective: 1000px;
}

.hidden {
    opacity: 0;
    transform: rotateY(180deg);
}

img {
    transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}