body {
    background: #eee;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 3rem;
    margin-top: 0;
}

.tries {
    color: cadetblue;
}

#game-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 750px;
    background: #fff;
    border: 1px solid rgba(0,0,0,0.2);
}

.card {
    background: url('../img/q-mark.png') no-repeat center;
    background-size: 80%;
    margin: 1rem;
}

.hidden {
    opacity: 0;
}